.header
  max-width content-total-width
  margin 0 auto 20px
  text-align center
  background-color color-white
  box-shadow 0 1px 3px color-hover
  a
    color color-font
    display inline-block
    padding 10px 10px
    transition background-color hover-time ease
    &:hover
      background-color color-hover 
  .ac
    color color-danger
  span
    position absolute
    display block
    text-align center
    top 0px
    left 0px
    padding 0 0
    a
      padding 0 25px
      line-height 44px
      font-size 32px
      font-weight 900
      font-family: cursive
    desc
      font-size 12px
